
.gymClassTime-container{
    margin-top: 60px;
}
.days{
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 5px 10px lightgray;
}
.button-area{
    margin-top: 130px;
    margin-left: 450px;
}

.banner-btn{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #FCD842;
    padding: 10px 15px;
    text-align: center;
    border-radius: 0;
  }