.banner{
  background-image: url(../../img-and-icon/banner.jpg);
  min-height: 100vh;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
 
 }
 .banner:before{
     content: "";
     position: absolute;
     z-index: 1;
     background-color: rgb(39, 37, 48);
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     opacity: 0.8;
 }
 .banner-content{
     z-index: 2;
     position: relative;
     opacity: 1;
     display: flex;
   padding-top: 50px;
  align-items: center!important;
     color: white
 }
 .banner-title{
     color: white;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 45px;
 }
 @media screen and (max-width: 768px){
   .banner-title{
       font-size: 30px;
   }
 }
 .banner-btn{
     color: black;
     font-weight: 500;
     text-transform: uppercase;
     background-color: #FCD842;
     padding: 10px 15px;
     text-align: center;
     border-radius: 0;
 
 }