.brand{
  font-weight: 700;
  color: white;
}
.nav-link{
  font-size: 18px;
  margin-right: 7px;
  color: white!important;
  font-weight: 500;
}
.nav-link:focus, .nav-link:hover {
color: #FCD842!important;
}
.brand:hover{
  text-decoration: none !important;
  color: white!important;
}
.orange-text{
  color: #FCD842!important;
}